.scrollContainer{
  padding: 25vh 80px 25vh 80px;
}

.Fullscreen{
  padding: 1.25em 1.5em !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  background-color: rgba(255,255,255,0.9) !important;
  width: 100% !important;
  font-size: 1.25em;
}

.Medium{
  padding: 1.25em 1.5em !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  background-color: rgba(255,255,255,0.9) !important;
  width: 50% !important;
  font-size: 1.25em;
}

.Small{
  padding: 1.25em 1.5em !important;
  border-radius: 0 !important;
  box-shadow: none !important;
  background-color: rgba(255,255,255,0.9) !important;
  width: 400px !important;
  font-size: 1.25em;
}

@media only screen and (max-width: 600px) {
  .scrollContainer{
    padding: 25vh 5vw 25vh 5vw;
  }

  .Fullscreen, .Medium, .Small {
    min-width: 90vw;
    max-width: 100%;
  }
}