.editor{
  height: calc(100vh - 60px);
  overflow-y: scroll;
  margin-left: -1rem;
  padding: 20px;
  background-color: #FAFAFA;
}

.control{
  position: absolute !important;
  top: 0;
  left: 15px;
  width: calc(100% - 30px);
}