a:hover{
  text-decoration: underline;
}

a.ui.card:hover{
  text-decoration: none;
}

.ui.card > .image:first-child{
  border-radius: 0 !important;
}

.ui.fluid.search .results {
  max-height: 60vh;
  overflow: auto;
}