.button {
  width: 30px;
  height: 30px;
  background-color: white;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 5px;
  border: none;
}

.button:hover {
  background-color: #f1f1f1;
}

.button.active{
  background-color: #ccc;
}

.toolbar {
  position: 'absolute';
  left: 15px;
  top: 235px;
  display: 'flex';
  flex-direction: column;
}
