.header{
  height: 90px;
  padding: 0 20px;
  background-color: white;
  display: flex;
  align-items: center;
  max-width: 1400px;
}

.title{
  line-height: 60px !important;
  margin-left: 10px !important;
}

.spacer {
  flex-grow: 1;
}

.link, .link:hover{
  margin-left: 25px;
  line-height: 30px;
  color: black;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}

.active{
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}