.header{
  height: 90px;
  margin: 0 -30px;
  background-color: white;
}

.headerFlex{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.title{
  line-height: 60px !important;
  margin-left: 10px !important;
}

.spacer {
  flex-grow: 1;
}

.link, .link:hover{
  margin-left: 25px;
  line-height: 30px;
  color: black;
  font-weight: 300;
  font-size: 15px;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}

.active{
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}