.layerMenu{
  position: absolute !important;
  width: 300px;
  right: 0;
  top: 60px;
}

.layerCheck{
  margin: 15px 0 15px 5px;
  font-size: 1.25em;
}

.layerCheck label{
  display: flex;
  align-items: center;
}

.layerCheck label > div{
  display: flex;
  align-items: center;
}

.layerCheck label > div > svg {
  margin-right: 5px;
}

.layerCheck label input{
  margin-right: 10px;
}