.button2D{
  width: 30px;
  height: 30px;
  background-color: white;
  position: absolute;
  top: 65px;
  border-radius: 5px;
  box-shadow: 0 0 0 2px rgb(0 0 0 / 10%);
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}