.slide{
  min-height: 100px;
  display:flex;
  justify-content:center;
  align-items:center;
}

.slideTitle{
  text-align: center;
  margin-top: -5px;
}

.slideNumber{
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.duplicate{
  position: absolute;
  top: 0px;
  right: 0px;
  transform: scale(.75);
}
